---
- name: gather os specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution|lower }}-{{ ansible_distribution_version|lower|replace('/', '_') }}.yml"
        - "{{ ansible_distribution|lower }}-{{ ansible_distribution_release }}.yml"
        - "{{ ansible_distribution|lower }}-{{ ansible_distribution_major_version|lower|replace('/', '_') }}.yml"
        - "{{ ansible_distribution|lower }}.yml"
        - "{{ ansible_os_family|lower }}-{{ ansible_architecture }}.yml"
        - "{{ ansible_os_family|lower }}.yml"
        - defaults.yml
      paths:
        - ../vars
      skip: true
  tags:
    - facts

- name: Add OpenShift Origin repository
  become: yes
  yum_repository:
    name: origin
    description: OpenShift Origin Repo
    baseurl: "{{ crio_rhel_repo_base_url }}"
    gpgcheck: no
  when: ansible_distribution in ["CentOS","RedHat"] and not is_atomic

- name: Make sure needed folders exist in the system
  become: yes
  ignore_errors: yes
  with_items:
    - /etc/crio
    - /etc/containers
  file:
    path: "{{ item }}"
    state: directory

- name: ensure ostree repository public key is installed
  action: "{{ ostree_repo_key_info.pkg_key }}"
  args:
    id: "{{ item }}"
    url: "{{ ostree_repo_key_info.url }}"
    state: present
  register: keyserver_task_result
  until: keyserver_task_result is succeeded
  retries: 4
  delay: "{{ retry_stagger | d(3) }}"
  with_items: "{{ ostree_repo_key_info.repo_keys }}"
  when: not (ansible_os_family in ["CoreOS", "Container Linux by CoreOS", "RedHat", "Suse", "ClearLinux"] or is_atomic)

- name: ensure cri-o repository public key is installed
  action: "{{ crio_repo_key_info.pkg_key }}"
  args:
    id: "{{ item }}"
    url: "{{ crio_repo_key_info.url }}"
    state: present
  register: keyserver_task_result
  until: keyserver_task_result is succeeded
  retries: 4
  delay: "{{ retry_stagger | d(3) }}"
  with_items: "{{ crio_repo_key_info.repo_keys }}"
  when: not (ansible_os_family in ["CoreOS", "Container Linux by CoreOS", "RedHat", "Suse", "ClearLinux"] or is_atomic)

- name: ensure cri-o repository is enabled
  ignore_errors: yes
  action: "{{ crio_repo_info.pkg_repo }}"
  args:
    repo: "{{ item }}"
    state: present
  with_items: "{{ crio_repo_info.repos }}"
  when: not (ansible_os_family in ["CoreOS", "Container Linux by CoreOS", "RedHat", "Suse", "ClearLinux"] or is_atomic) and (crio_repo_info.repos|length > 0)

- name: Install cri-o packages
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ crio_packages }}"

- name: Install cri-o config
  become: yes
  template:
    src: crio.conf.j2
    dest: /etc/crio/crio.conf

- name: Copy mounts.conf
  become: yes
  copy:
    src: mounts.conf
    dest: /etc/containers/mounts.conf
  when:
    - ansible_os_family == 'RedHat'

- name: Create directory for oci hooks
  become: yes
  ignore_errors: yes
  file:
    path: /etc/containers/oci/hooks.d
    state: directory
    owner: root
    mode: 0755

- name: Install cri-o service
  become: yes
  service:
    name: "{{ crio_service }}"
    enabled: yes
    state: restarted
